/*
  --------------------------------- Layout du pied de page
*/

footer{
  background-color: rgb(159, 163, 200); // devrait devenir une variable de couleur
  color : #000;  // variable !!
}

.piedpage{
    display: flex;
    flex-direction: column;
    //padding-top: 5vh;

    padding-bottom: 0vh;
    @media screen and (max-width: 800px) {
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__s1{
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        align-items: center;
        justify-content:space-evenly;
        @media screen and (max-width: 800px) {
          gap: 1rem;
        }
      
        &__menuRecherhe{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 30%;
      }
        &__externe {
            // flex : 0 0 20%;
            padding: 0;
            & .menu { //ul
                display : flex;
                // flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                padding: 0;
                // flex-direction: column;
            }

            & .menu-item a { //ul
              padding: 0;
              // flex-direction: column;
          }
        }
        &__coord {
          margin: 0;
        }
        &__description{
            // flex:1 0 300px;
            width: 30%;
            @media screen and (max-width: 800px) {
             width: 50%;
            }
        }
        &__icone-app {
          margin-top: 3vh;
        }
    }
}

.piedpage__s1__adresse__recherche .recherche {
  margin-top: 3vh;
  border: none;
  
  &:hover {
    border: none;
  }

  &__input:hover {
    background-color: rgb(236, 236, 236);
  }
}


.recherche__cell{
  @media screen and (min-width: 800px) {
    display:none;
    }

   
}

.recherche__ordi{
  @media screen and (max-width: 800px) {
    display:none;
    }
}

.piedpage svg{
  // width: 100vw;
  position: relative;
  top: -204px;
  z-index: 0;
}