.hero {
  min-height: 100vh;
  //background-image: url("images/bgHeader.jpg");
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 

  &__titre {
    font-size: 3rem; 
    text-shadow: -1px 1px 19px rgba(2, 159, 91, 0.707); 
    text-align: center;
  }

  &__contenu {
    max-width: 80%; 
    background-color: rgba(225, 225, 225, 0.707); 
    padding: 2%; 
    border-radius: 2rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    @media screen and (max-width: 800px) {
      border-radius: 0;
      background-color: rgba(225, 225, 225, 0.25);
    }
  }

  &__description {
    width: 50vw; 
    font-size: 1.2rem; 
  }

  &__liens p, button {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  &__bouton {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 60px; 
    width: 30%; 
    border: none; 
    border-radius: 4px; 
    background-color: $couleur__bleuFonce; 
    font-size: 1.5rem; 
    @media screen and (max-width: 800px) {
      width: 50%;
    }
    &:hover {
    background-color: $couleur__bleuPale; 
    cursor: pointer; 
    animation: grossirBouton 1s forwards; 
  }
  }

  @keyframes grossirBouton{ 
    from{ 
      font-size: 1.5rem; 
    } 
  
    50%{ 
      rotate: -5deg; 
    } 
  
    75%{ 
      rotate: 5deg; 
    } 
  
    to{ 
      font-size: 1.8rem; 
    } 
  
  } 

  &__info-top {
    margin: 0;
    margin-top: 5vh;
  }

  &__info {
    margin: 0;
    text-align: center; 
  }

  &__carrousel{
    opacity: 0;
    transition: opacity 1s;
    &--active{
      opacity: 1;
    }
  }

  &__radio__input{
    z-index: 10;
    margin-bottom: 2%;
  }
}