.templatePays{
    display: flex;
    //align-items: center;
    //flex-grow: 1;
    justify-content:center;
    //flex-wrap: wrap;
    flex-direction: column;
    //padding: 3%;
    font-weight: bold;
    //text-align: center;
    //gap: 5%;
    background-position: 10%;
    &__ImagesTextes{
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: rgb(159, 163, 200);
        padding-bottom: 5%;
        padding-top: 5%;
        z-index: -1;
    }
    &__titre{
        font-size: 2rem;
        //background-color: rgb(255, 255, 255, 0.25);
        //border-radius: 4px; 
        padding: 1% 5%;

        @media screen and (min-width:992px) {
            font-size: 2.5rem;
        }

        @media screen and (min-width:768px) {
            font-size: 2rem;
        }
        
    }

    &__soustitre{
        font-size: 1rem;
        //background-color: rgb(255, 255, 255, 0.25);
        //border-radius: 4px; 
        padding: 0% 5%;
        //margin-top: 5%;
        //margin-bottom: 2%;
    }

    &__lesTextes{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        // margin: 5%;
        z-index: 1;
    }
    &__SectionMenu svg{
        z-index: 0;
        // width: 100vw;
     position: relative;
     bottom: -6px;
     animation: anim_svg 1s alternate infinite;

    
   }
    &__SectionMenu{
        
        text-align: center;
        &__leMenu{
            z-index: -1;
            flex-direction: column;
            padding-bottom: 30%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 0%;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            gap: 5px;
            //padding: 3%;
            //flex-grow: 1;
            background-color: rgb(190, 140, 200);
    
            & .menu{
                z-index: 1;
                position: relative;
                display: flex;
                justify-content: space-evenly;
                gap: 2%;
                padding: 0;
                 //flex-direction: column;
                
                row-gap: 10px;
                @media screen and (max-width:768px) {
                    flex-wrap: wrap;
                }
                @media screen and (max-width: 800px) {
                    flex-direction: row;
                    padding: 0;
                    align-items: center;
                    row-gap: 10px;
                    }
            }
            & a{
                z-index: 1;
                font-weight: bold;
                // width: 100%;
                display: flex; 
                align-items: center; 
                justify-content: center; 
                // height: 60px; 
                padding: 8px;
                border: none; 
                border-radius: 4px; 
                background-color: rgb(120, 140, 200); 
                color: black;
                font-size: 1rem; 
            }
    
            
        }

        &__menuPays{
            z-index: 1;
            position: relative;
        }
    }
    

}

 @keyframes anim_svg{
        0%{
            transform: translateY(100px);
        }
    100%{
        transform: translateY(0px);
    }
}
